h1,h2,h3,h4,h5,h6{
    font-family: 'Satoshi-Bold';

}

.p{
    font-family: 'Satoshi-Regular';
}

.span{
    font-family: 'Satoshi-Regular';
}

.a{
    font-family: 'Satoshi-Medium';
    color: var(--accent-color);
}